@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container apresentacao">
    <div class="texto-apresentacao">
        <div class="display-3">
            Olá,
        </div>
        <div class="display-4">
            seja bem vindo ;)
        </div>
        <div class="justify-content-center mt-3">
            <a class="btn btn-primary btn-apresentacao" href="#">Login</a>
            <a class="btn btn-outline-primary btn-apresentacao" href="#">Saiba mais</a>
        </div>
    </div>
    <div>
        <img src="~/img/img1.jpg" class="img-fluid" id="img-apresentacao" alt="Seja bem-vindo" />
    </div>
</div>